<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WawaIm" type="WawaSoft.Net.Config,SoundChat"/>
  </configSections>
  <WawaIm>
    <ServerConfig ServerIp="127.0.0.1"  DefaultServerPort="54321" PingInterval="30000"></ServerConfig>
  </WawaIm>
</configuration>